@import "../../node_modules/normalize.css/normalize";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@font-face {
  font-family: neon;
  src: url('../font/neon.eot');
  src: url('../font/neon.eot?#iefix') format('embedded-opentype'),
  url('../font/neon.woff2') format('woff2'),
  url('../font/neon.woff') format('woff'),
  url('../font/neon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$rubik: 'Rubik', sans-serif;
$karla: 'Karla', sans-serif;
$neon: 'neon', sans-serif;
$violet: #5960A4;
$black: #3A3A3A;
$green: #3BC282;
$blue: #034B5B;

a{
  text-decoration: none;
  outline: none;
}
button{outline: none}
p{
  font-family: $rubik;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.df {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.header {
  background: linear-gradient(107.53deg, #0B1416 0%, #005F74 100%);
  //height: 100%;
  height: 100vh;
  width: 100%;
  position: relative;
  //padding-bottom: 50px;
}
.header__ellipse{
  position: absolute;
  left: 350px;
  top: -350px;
}
.header__ellipse {
  width: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

.top-header {
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 60px 0;
}

.header-top__burger {
  position: relative;
  width: 45px;
  height: 30px;
  z-index: 5;
  cursor: pointer;

}

%header-top__burger {
  content: '';
  position: absolute;
  right: 0;
  width: 37px;
  height: 4px;
  background-color: white;
  animation: header-burger-animate .4s linear infinite;
  animation-direction: alternate;
  transition: 0.3s;
}

.header-top__burger {
  span {
    @extend %header-top__burger;
    top: 50%;
    transform: translateY(-50%);
    animation-delay: .3s;
  }

  &:after {
    @extend %header-top__burger;
    bottom: 0;
    animation-delay: .6s;
    transition: 0.3s;
  }

  &:before {
    @extend %header-top__burger;
    top: 0;
    animation-delay: 0s;
    transition: 0.3s;
  }

  &.active span {
    transform: scale(0);
    animation: none;
  }

  &.active:after, &.active:before {
    top: 6px;
    background-color: white;
    animation: none;
  }

  &.active:after {
    transform: rotate(-45deg);
  }

  &.active:before {
    transform: rotate(45deg);
  }
}
@keyframes header-burger-animate {
  0% {
    width: 37px;
  }
  100% {
    width: 100%;
  }
}

.header-top__menu{
  width: 100%;
  height: 100vh;
  background: url("../img/header/bg.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
  transform: translateX(120%);
  transition: .6s;

}
.header-top__menu.active {
  transform: translateX(0);
}
.header-top__list {
  list-style: none;
  margin-top: 100px;
  margin-left: 250px;
  padding: 0;
}
.header-top__item{
  margin-bottom: 20px;
}
.header-top__link{
  display: block;
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  transform: translateY(-50%);
  transition: .3s;
  opacity: 0;
}
.header-top__link.active{
  transform: translateY(0px);
  opacity: 1;
}
.header-top__link:nth-child(1) .active{
  background: #3BC282;
}
.menu__social-network{
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}
.menu-sn__link{
  font-family: 'neon', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 50px;
  letter-spacing: 0.5em;
  color: #FFFFFF;
  text-shadow: 0px 0px 6px #FFFFFF;
}

.menu-sn__link:first-child{
  margin: 40px 0 20px 0;
}

.header-content{
  position: relative;
}
.header-content__left{
  flex-basis: 60%;
  flex-direction: column;
  justify-content: center;
}
.header-content__right {
  flex-basis: 40%;
}
.header-content__title{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  margin: 0 0 10px 0;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.header-content__slogan{
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: white;
  margin-bottom: 60px;
}
.header-content__slogan_violet{
  color: #99a2ff;
}
%main-btn{
    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: white;
    padding: 20px 72px;
    background: $violet;
    border-radius: 200px;
    transition: all .3s linear;
    border: 2px solid $violet;
    &:hover{
      color: $violet;
      background: inherit;
  }
}

.main-btn__link{
  @extend %main-btn
}
.btn-header:hover{
  color: white;
  border: 2px solid white;
}
.neon-text{
  font-family: 'neon', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.5em;
  color: #FFFFFF;
  text-shadow: 0 0 6px #FFFFFF;
  user-select: none;
  z-index: 2;
  margin: 0;

}
.neon-text:nth-child(2){
  margin: 100px 0;
  text-align: end;
}
.neon-text:nth-child(3) {
  text-align: center;
}
.header-content__right{
  flex-direction: column;
}

//SECTION services
.services{
  width: 100%;
  position: relative;
}
.services__ellipse{
  position: absolute;
  right: -300px;
  top: -200px;
}
.services__ellipse img{
  width: 100%;
}
.shape{
  overflow: hidden;
}
.title{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: $blue;
  margin: 100px 0 50px 0;
}
.title__services{
  margin-top: 0;
  padding-top: 100px;
}
.services-block{
  padding-bottom: 20px;
  justify-content: space-between;
}
.services__item{
  background: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(0, 18, 22, 0.1);
  border-radius: 75px;
  width: 33.33%;
  transition: .3s;
  outline: none;
}
.services__item:hover{
  transform: scale(1.1);
}
.services__item:nth-child(2){
  margin: 0 30px;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
  align-items: flex-start;
}
.slider{
  position: relative;
  margin: 0 50px;
}
.slider .slick-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: red;
  font-size: 0;
  width: 45px;
  height: 90px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/services/arr-left.svg) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/services/arr-right.svg) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-prev:hover {
  background: url(../img/services/arr-left_hover.svg) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next:hover {
  background: url(../img/services/arr-right_hover.svg) 0 0 / 100% no-repeat;
}
.slider .slick-dots{
  display: flex!important;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  //z-index: 9999;
}
.slider .slick-dots li{
  list-style: none;
  margin: 0 25px;
}
/* Активная точка */
/* Элемент точки */
.slider .slick-dots button{
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #3A3A3A;
  border-radius: 50%;
  border: none;
  opacity: 0.1;
  outline: none;
}
.slider-project .slick-dots button{
  width: 30px;
  height: 30px;
}
.slider .slick-dots li.slick-active button{
  opacity: 0.5;
}



.services__title{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: $black;
  margin-top: 60px;
}
.services__text{
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: $black;
  text-align: center;
}
.services__list{
  font-family: $karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.02em;
  color: $black;
  margin-bottom: 15px;
  text-align: center;
  white-space: nowrap;
}
.services-btn{
  margin: 40px 0 60px 0;
  width: 100%;
  text-align: center;
}
.main-btn__link_services{
  display: block;
  width: 100%;
  //padding: 0;
  padding: 20px 0;
}
.services__line{
  width: 100%;
  margin: 20px 0;
  //padding: 0 25px;
  height: 1px;
  background: #8b8b8b ;
  border: 0;
}
.services-container{
  margin: 0 auto;
  padding: 0 25px;
  flex-direction: column;
  align-items: center;
}

//section CALL-BACK
.call-back{
  background: url("../img/call-back/bg.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.call-back__ellipse{
  position: absolute;
  left: -400px;
  top: 50%;
  transform: translateY(-50%);
}
.title__call-back{
  padding: 60px 0 0 0;
  margin-bottom: 40px;
  color: white;
}
.call-back__form [type="text"]{
  width: 100%;
  background: white;
  border: none;
  padding: 25px 30px  25px 30px;
  border-radius: 70px;
  outline: none;
  box-sizing: border-box;
  &::placeholder{
    width: 100%;
    font-family: $karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: $black;
    opacity: 0.34;
  }
}
.btn-form{
  width: 100%;
  background: $green;
  font-size: 20px;
  outline: none;
  border: 2px solid $green;
  &:hover{
    color: $green;
  }
}
.form-block{
  flex-grow: 1;
  padding-right: 30px;
  margin-bottom: 70px;
}
.form-block:last-child {
  padding-right: 0;
}

//section PROJECT
.project__block{
  flex-wrap: wrap;
  margin-bottom: 70px;
  justify-content: center;
  min-width: 0;
}
.project__item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  height: 250px;
  flex-basis: 25%;
  border-radius: 50%;
  margin: 15px 5px;
  box-shadow: 5px 5px 20px rgba(0, 18, 22, 0.1);
  transition: all .8s ease;
}
.anim-project{
  transform: rotate(360deg);
  opacity: 0;
}
.anim-project._active{
  transform: rotate(0);
  opacity: 1;
}
.project__item:hover {
  border: 5px solid #5960A4;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px #5960A4;
  transform: scale(1.1);
}
.project-btn{
  font-size: 20px;
  //margin: 0 auto;
  text-align: center;
}

//section ALGORITHM
.algorithm__lil-block{
  justify-content: space-between;
  //flex-wrap: wrap;
}
.algorithm__big-block{
  position: relative;
}
%lil-block__item{
  //flex-basis: 14.2%;
  width: 100%;
  max-width: 130px;
  background: inherit;
  border: 3px solid #3C9EB2;
  box-sizing: border-box;
  opacity: 0.3;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  height: 180px;
  transition: .4s ;
  margin: 0 5px 45px 5px;
}
.lil-block__item{
  @extend %lil-block__item;
}
.lil-block__item.tab-active{
  @extend %lil-block__item;
  background: linear-gradient(107.53deg, #0B1416 0%, #005F74 100%);
  border: none;
  opacity: 1;
}
.lil-block__item:hover, .lil-block__item:hover  p, .lil-block__item:hover:before{
  opacity: 1;
}
%lil-tab__title{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  color: #3C9EB2;
  opacity: 0.3;
  text-align: center;
}
%lil-tab__text{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #3C9EB2;
  opacity: 0.3;
  text-align: center;
  padding-bottom: 15px;
}
%lil-block-before{
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #3C9EB2;
  opacity: 0.3;
}
.lil-tab__title{
  @extend %lil-tab__title;
  //margin-top: -10px;
  margin: 10px 0 15px 0;
}
.lil-block__item.tab-active > .lil-tab__title{
  @extend %lil-tab__title;
  color: white;
  opacity: 1;
}
.lil-tab__text{
  @extend %lil-tab__text;
  margin-top: 0;
}
.lil-block__item.tab-active > .lil-tab__text{
  @extend %lil-tab__text;
  color: white;
  opacity: 1;
}
.lil-block__item:before{
  @extend %lil-block-before;
}
.lil-block__item.tab-active >:before{
  @extend %lil-block-before;
  background: white;
  opacity: 1;
}
.lil-block__item:nth-child(2):after {
  content: '';
  position: absolute;
  background: url("../img/algorithm/tuch.svg") no-repeat;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
}

.big-block__item{
  width: 100%;
  background: url("../img/algorithm/big-bg.png") no-repeat;
  background-size: 100% 100%;
  display: none;
  position: relative;
  padding-bottom: 70px;
}

.big-block__item.tab-active{
  display: block;
}
.big-tab__title{
  margin: 70px 0 40px 100px;
  display: flex;
  align-items: center;
}
.big-tab__title-number{
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 71px;
  letter-spacing: 0.045em;
  margin: 0;
}
.big-tab__text-number{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.big-tab__text{
  position: relative;
  margin-left: 100px;
  font-size: 18px;
  margin-bottom: 30px;
  z-index: 2;

}
.big-block__img img {
  width: 100%;
}
.big-block__img{
  width: 100%;
  max-width: 250px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
}
.tab-list{
  list-style: none;
  margin-left: 40%;
}
.tab-item{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: white;
  margin-bottom: 30px;
}
.tab-item span{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.045em;
  color: white;
  margin-right: 15px;
}

//section PRICE
.price-block{
  flex-wrap: wrap;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 3px 3px 9px rgba(0, 18, 22, 0.09);
  border-radius: 150px;
  padding: 50px 100px;
}
.price-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: rgba(11, 20, 22, 0.7);
  flex-basis: 100%;
  margin-bottom: 50px;
}
.price-title__green{
  color: $green;
}
.price-list{
  flex-basis: 50%;
}
.price-buy{
  flex-basis: 50%;
}
.price-list__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.price-services{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: $black;
  margin-right: 5px;
}
.min-price{
  font-size: 18px;
  padding: 5px 15px;
  background: $green;
  text-align: end;
  border-radius: 10px;
  width: 160px;
  margin-left: 5px;
}
.price-line{
  flex-grow: 1;
  border: 1px solid $green;
  background: #3BC282;
  opacity: 0.4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.price-circle{
  display: inline-flex;
  width: 12px;
  height: 12px;
  background: $green;
  border-radius: 50%;
  margin-right: 10px;
}

.price-buy{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//FOOTER

.footer{
  background: linear-gradient(107.53deg, #0B1416 0%, #005F74 100%);
  position: relative;
}
.footer__ellipse{
  position: absolute;
  right: -400px;
  top: -150px;
}
.footer__ellipse img{
  width: 100%;
}
.title__footer{
  padding: 60px 0;
  margin-bottom: 0;
  color: white;
}
.bottom-footer{
  align-items: center;
  justify-content: space-between;
}
.footer-menu__list{
  list-style: none;
  align-items: center;
}

.footer-menu__link{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: white;
  margin: 0 25px;
  text-align: center;
}
.footer-social{
  justify-content: center;
}
.footer-social a{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0 15px;
  position: relative;
}
.anim-menu{
  & a{
    position: relative;
  }
  & a:before{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 1px;
    background: white;
  }
  & a:hover:before{
    animation-name: animMenu;
    animation-duration: 400ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
}
@keyframes animMenu {
  0%{
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
  }
  100%{
    left: 0;
    width: 100%;
  }
}
.footer-span{
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.3;
  padding: 50px 0 80px 0 ;
}
.popUp{
  display: none;
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0;
  z-index: 5;
}
.popUp.active{
  display: block;
}
.popUp__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  background: url("../img/popUp-bg.jpg") no-repeat;
  background-size: 100%;
  background-position: center;

}
.popUp__container{
  padding: 80px 150px 90px 150px;
  position: relative;
}
.popUp__title{
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 50px;
}
.popUp__form{
  flex-direction: column;

}
.popUp__input{
  background: white;
  border: none;
  border-radius: 50px;
  padding: 15px 0 15px 15px ;
  margin-bottom: 20px;
  outline: none;
}
.popUp__input::placeholder {
  font-family: $karla;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #0B1416;
  opacity: 0.2;
}
.popUp__btn{
  font-family: $karla;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: white;
  background: $violet;
  width: 100%;
  border-radius: 60px;
  border: none;
  outline: none;
  padding: 20px 0;
  cursor: pointer;
}
.popUp__close{
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.blur{
  filter: blur(5px);
  pointer-events: none;
  cursor: default;
}
body.active{
  overflow-y: hidden;
}
.thanks{
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background: url("../img/thanks-bg.jpg") no-repeat;
  background-position: center;
}
.thanks-logo{
  text-align: center;
}
.thanks-title{
  font-family: $neon;
  font-style: normal;
  font-weight: normal;
  font-size: 240px;
  line-height: 240px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #FFFFFF;
  text-shadow: 0 0 6px #FFFFFF;
}
.thanks-text{
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 70px;
}